# ==========================================
# 1. REGLA DE ORO: IGNORAR DEPENDENCIAS EN TODO EL PROYECTO
# ==========================================
node_modules/
**/node_modules/      # <--- ESTO ES CLAVE: Ignora node_modules en CUALQUIER subcarpeta

# ==========================================
# 2. FRONTEND (React + Vite)
# ==========================================
dist/
dist-ssr/
*.local
.eslintcache

# Archivos de entorno (SECRETOS)
.env
.env.*
!.env.example

# ==========================================
# 3. BACKEND (Terraform / AWS Lambda)
# ==========================================
# Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
.terraform.lock.hcl

# Lambda Artifacts
# Ignora los archivos .zip que genera Terraform para subir a AWS
*.zip
backend/lambda/tasks-api/*.zip

# ==========================================
# 4. SISTEMA Y EDITORES
# ==========================================
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db
*.log
npm-debug.log*