# --- Dependencias (Node) ---
node_modules/
**/node_modules/
package-lock.json

# --- Frontend (Vite/React) ---
dist/
dist-ssr/
*.local
.eslintcache
.env
.env.*

# --- Backend & Infra (Terraform/AWS) ---
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
.terraform.lock.hcl
*.zip
backend/lambda/tasks-api/*.zip

# --- Sistema y Editores ---
.vscode/
.DS_Store
Thumbs.db
*.log