# ==========================================
# 1. FRONTEND (React + Vite)
# ==========================================
node_modules/
frontend/node_modules/
dist/
frontend/dist/
dist-ssr/
*.local

# Archivos de entorno (SECRETOS)
.env
frontend/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ==========================================
# 2. BACKEND (Terraform / AWS)
# ==========================================
# Ignora binarios y plugins pesados
.terraform/
backend/.terraform/

# Ignora el estado de la infraestructura (CONTIENE SECRETOS)
*.tfstate
*.tfstate.*
backend/*.tfstate
backend/*.tfstate.*

# Ignora variables privadas
*.tfvars
*.tfvars.json
backend/*.tfvars
backend/*.tfvars.json

# Archivos de log y planes de ejecución
*.tfplan
backend/*.tfplan
crash.log
backend/crash.log

# ==========================================
# 3. SISTEMA Y EDITORES
# ==========================================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs de error
logs
*.log
npm-debug.log*
yarn-debug.log*